*{
    margin:0%;
    padding:0%;
}

body{
    font-family: 'Roboto' , sans-serif;
}
.text p{
    margin-top:11px
}
.head{
    text-align:center;
    padding:85px;
}
.head span{
    color:orange;
}
.connectus{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
    
}
#contactus{
    margin-top: 4%;
}

.contactform{

    background-image: url(contact.png) ;
    margin-left: 33%;

    width:550px;
    height:350px;
    background-color: white;
    box-shadow: 0px 4px 4px 6px rgb(230, 239, 229);
    margin-top: 1px;
    margin-bottom: 8%;
    padding:22px;
    border-radius: 8px;
    

}

.contactform input{
    width:90%;
    padding:6px;
    font-size:16px;
    margin-top:3px;
    border-radius: 5px;
}
.contactform p{
    color:white;
    margin-top:13px;
}
.contactform button{
    width:80px;
    height:28px;
    background-color: orange;
    color:white;
    font-size: 17px;
    margin-top:22px;
    border:none;
    cursor: pointer;
    border-radius: 5px;

}
.footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    background-color: black;
    color:white;
    padding:66px;
    margin-top: 55px;
}

nav{
    display:flex;
    
    background-color:orange;
    color:white;
    padding-top:22px;
    padding-bottom: 22px;
    position: fixed;
    top:0%;
    width:100%;

}

ul{
    margin-left:630px;
    display:flex;
    align-items:center;
}

ul li{
    
    list-style:none;
}

.a{  
    
    text-decoration:none;
    margin-inline: 24px;
    color:white;
    font-size:20px;

}

.icons{
    display:flex;
    align-items:center;
    cursor:pointer;
    margin-left: 20px;
}

.icons i{
    font-size:25px;
    color:black;
}
#loginBtn{
    cursor: pointer;
}
.logo{
    margin-left: 15px;
    color:black;
    font-size:20px;
}

ul li a:hover{
    color:black;
    cursor:pointer;
}

#mail_a{
    text-decoration: none;
    color:white;
}
.loginpage{
    display:none;
} 

.active1{
    display: block;
    width:300px;
    background-color: #fff;
    padding:11px;
    box-shadow:0px 4px 4px 6px rgb(230, 239, 229) ;
    position:fixed;
    top:12%;
    right:2%;
}

.active1 input{
    width:90%;
    padding:6px;
    margin-top:13px;
}

.active1 button{
    width:80px;
    height:28px;
    background-color:orange;
    color:white;
    font-size:16px;
    border:none;
    margin-top:15px;
}

.icons img{
    height: 45px;
}

